In [42]:
import pandas as pd
from datetime import datetime, time

In [7]:
df_june = pd.read_csv("Resources/JC-202306-citibike-tripdata-JUNE.csv")

In [10]:
df_june.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [12]:
df_dec = pd.read_csv("Resources/JC-202312-citibike-tripdata-DEC.csv")

In [13]:
df_dec.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [14]:
concat_df = pd.concat([df_june,df_dec], axis=0)

In [15]:
concat_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member

In [16]:
print(len(df_june))
print(len(df_dec))
print(len(concat_df))

97023
58680
155703

In [17]:
c_c_df = concat_df.dropna()

print(len(c_c_df))

155100

In [19]:
c_c_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [34]:
c_c_df['started_at'] = pd.to_datetime(c_c_df['started_at'])

c_c_df['started at date'] = c_c_df['started_at'].dt.date

c_c_df['started at time'] = c_c_df['started_at'].dt.time

c_c_df['ended_at'] = pd.to_datetime(c_c_df['ended_at'])

c_c_df['ended at date'] = c_c_df['ended_at'].dt.date

c_c_df['ended at time'] = c_c_df['ended_at'].dt.time

C:\Users\alton\AppData\Local\Temp\ipykernel_4764\629001111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['started_at'] = pd.to_datetime(c_c_df['started_at'])
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\629001111.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['started at date'] = c_c_df['started_at'].dt.date
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\629001111.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['started at time'] = c_c_df['started_at'].dt.time
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\629001111.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['ended_at'] = pd.to_datetime(c_c_df['ended_at'])
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\629001111.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['ended at date'] = c_c_df['ended_at'].dt.date
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\629001111.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['ended at time'] = c_c_df['ended_at'].dt.time

In [36]:
del c_c_df['endedat time']

In [37]:
c_c_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started at date,started at time,ended at date,ended at time
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual,2023-06-27,16:06:27,2023-06-27,16:10:27
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member,2023-06-24,10:46:58,2023-06-24,10:55:27
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member,2023-06-04,20:30:13,2023-06-04,20:34:31
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member,2023-06-08,19:10:06,2023-06-08,19:13:05
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member,2023-06-23,18:53:51,2023-06-23,19:17:50

In [38]:
c_c_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
started at date               object
started at time               object
ended at date                 object
ended at time                 object
dtype: object

In [46]:
c_c_df['started at time'] = c_c_df['started at time'].apply(lambda x: datetime.combine(datetime.min, x) - datetime.min)

c_c_df['ended at time'] = c_c_df['ended at time'].apply(lambda x: datetime.combine(datetime.min, x) - datetime.min)

c_c_df['Trip Length'] = (c_c_df['ended at time'] - c_c_df['started at time']).dt.total_seconds() / 60

TypeError: combine() argument 2 must be datetime.time, not datetime.datetime

In [51]:
c_c_df['started_at'] = pd.to_datetime(c_c_df['started_at'])
c_c_df['ended_at'] = pd.to_datetime(c_c_df['ended_at'])

# Calculate the time difference between 'ended_at' and 'started_at'
c_c_df['duration'] = (c_c_df['ended_at'] - c_c_df['started_at']).dt.total_seconds() / 60

C:\Users\alton\AppData\Local\Temp\ipykernel_4764\3520086573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['started_at'] = pd.to_datetime(c_c_df['started_at'])
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\3520086573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['ended_at'] = pd.to_datetime(c_c_df['ended_at'])
C:\Users\alton\AppData\Local\Temp\ipykernel_4764\3520086573.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_c_df['duration'] = (c_c_df['ended_at'] - c_c_df['started_at']).dt.total_seconds() / 60

In [52]:
c_c_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started at date,started at time,ended at date,ended at time,duration
0,37BE5FCB1A385CDA,classic_bike,2023-06-27 16:06:27,2023-06-27 16:10:27,Hilltop,JC019,Christ Hospital,JC034,40.731115,-74.057468,40.734786,-74.050444,casual,2023-06-27,0001-01-01 16:06:27,2023-06-27,0001-01-01 16:10:27,4.000000
1,9C96B4C6CBBB31AD,classic_bike,2023-06-24 10:46:58,2023-06-24 10:55:27,Baldwin at Montgomery,JC020,Hamilton Park,JC009,40.723473,-74.064338,40.727596,-74.044247,member,2023-06-24,0001-01-01 10:46:58,2023-06-24,0001-01-01 10:55:27,8.483333
2,C91293605D4BEC07,electric_bike,2023-06-04 20:30:13,2023-06-04 20:34:31,Hilltop,JC019,Brunswick St,JC023,40.731169,-74.057574,40.724176,-74.050656,member,2023-06-04,0001-01-01 20:30:13,2023-06-04,0001-01-01 20:34:31,4.300000
3,2920063442116A46,classic_bike,2023-06-08 19:10:06,2023-06-08 19:13:05,Baldwin at Montgomery,JC020,Astor Place,JC077,40.723499,-74.064335,40.719282,-74.071262,member,2023-06-08,0001-01-01 19:10:06,2023-06-08,0001-01-01 19:13:05,2.983333
4,E205FD8C18BA263A,classic_bike,2023-06-23 18:53:51,2023-06-23 19:17:50,Baldwin at Montgomery,JC020,Adams St & 11 St,HB507,40.723511,-74.064277,40.750916,-74.033541,member,2023-06-23,0001-01-01 18:53:51,2023-06-23,0001-01-01 19:17:50,23.983333